img {
    max-width: 360px;
    max-height: 240px;
}

.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}

.prev { cursor: pointer; }
.next { cursor: pointer; }

